html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan",serif;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: .3em;
}

body {
  background-color: #79756f;
  padding: .6em;
  margin: 0;
  border-color: #595652;
}

nav li {
  list-style-type: none;
  max-width: 20em;
  display: inline;
}

li a {
  background-color: #713837;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: .5em .75em;
  margin: .3em;
  border-radius: 5px;
  font-family: sans-serif;
}

nav a:hover {
  background-color: #f33;
}
