html {
  box-sizing: border-box;
  background-color: #79756f;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bevan', cursive;
  color: #ffffff;
  text-align: center;
  font-size:
}
